.container {
    max-width: 960px;
    margin: auto;
  }

  .hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/bg_index_3.png);
    background-position: center;
    background-size: cover;
    position: absolute;

  }


.behind{
    width:50%;
    height:65%;
    margin: auto;
    padding:20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 2rem;
}
  
  body {
    background-color: #eceff1;
    font-family: sans-serif;
    color: #37474f;
  }
  
  h1, h2, h3, p {
    text-align: center;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .draggable-list {
    padding: 5px;
  }
  
  li {
    list-style: none;
    text-align: center;
    color: white;
    grid-column: 1;
    grid-row: 1;
    background: linear-gradient(to right bottom,#ff105f,#ffad06);
    padding: 10px;
    margin:20px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 #0000003d;
  }

  
  .over {
    background-color: #90a4ae;
  }
  
  
  table {
    max-width:640px;
    margin: auto;
    margin-bottom: 20px;
    /* border: 1px solid #b0bec5; */
  }
  
  th, td {
    padding: 10px 10px;
  }
  
  td {
    border: 1px solid #90a4ae;
  }
  
  tr:nth-child(even) {
    background-color: #cfd8dc;
  }
  
  button {
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 10px;
    letter-spacing: .05em;
    font-size: 16px;
    font-weight: bold;
    border-radius: 14px;
    border: none;
    background-color: rgb(166, 166, 166);
    color: #fff;
  }
  
  button:hover {
    background-color: #516a75;
  }

  .gameinfo{
    width: 60%;
    margin:auto;
    color: whitesmoke;
    text-align: center;
    background: linear-gradient(to right bottom,#ff105f,#ffad06);
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 #0000003d;
  }
  
  #endMessage {
    display: none;
  }



  @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;
}

.score {
  font-family: monospace;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin: 1rem;
  position: relative;
  transition: opacity 0.2s;
}
#play-again-btn {
  position: absolute;
  top: -0.5rem;
  left: 50%;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(166, 166, 166);
  /* background-color: #111; */
	border: 5px double #fff; 
	border-radius: 14px;
	padding: 8px 10px;  
  outline: none;
  letter-spacing: .05em;
  cursor: pointer;
  display: none;
  opacity: 0;
  /* transition: opacity 0.5s, transform 0.5s, background-color 0.2s; */
}
#play-again-btn:hover {
  background-color: #333;
}
#play-again-btn:active {
  background-color: #555;
}
#play-again-btn.play-again-btn-entrance {
  opacity: 1;
  transform: translateX(6rem);
}
button, .nextLevel {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  letter-spacing: .05em;
  font-size: 16px;
  font-weight: bold;
  border-radius: 14px;
  border: none;
  background-color: rgb(166, 166, 166);
  color: #fff;
}



.draggable-items {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 1.5rem 1rem;
  transition: opacity 0.5s;
}
.draggable {
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}
.matching-pairs {
  transition: opacity 0.5s;
}
.matching-pair {
  height: 6rem;
  width: 22rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
.matching-pair span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}
.label {
  width: 15rem;
  font-size: 2rem;
}
.droppable {
  width: 6rem;
  font-size: 4rem;
  background-color: #fff;
  border: 3px dashed #111;
  transition: 0.2s;
}
.droppable-hover {
  background-color: #bee3f0;
  transform: scale(1.1);
}
.dropped {
  border-style: solid;
}
.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 600px) {
  html { font-size: 14px; }
  #play-again-btn { top: -0.4rem; }
  #play-again-btn.play-again-btn-entrance { transform: translateX(7rem); }
}
